<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.mshick.hackernewsstylized</string>
       <key>Developer Identifier</key>
       <string>VGHM4P8RF8</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>https://github.com/mshick/hacker-news-stylized/blob/master/build/HackerNewsStylized.safariextz?raw=true</string>
     </dict>
   </array>
</dict>
</plist>
