<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Michael Shick</string>
	<key>Builder Version</key>
	<string>10538.43.40</string>
	<key>CFBundleDisplayName</key>
	<string>Hacker News Stylized</string>
	<key>CFBundleIdentifier</key>
	<string>com.mshick.hackernewsstylized</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>scripts/main.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>styles/fonts.css</string>
			<string>styles/main.css</string>
			<string>styles/comments.css</string>
			<string>styles/safari.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Giving Hacker News a little more style.</string>
	<key>DeveloperIdentifier</key>
	<string>VGHM4P8RF8</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>news.ycombinator.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/mshick/hacker-news-stylized/blob/master/Update.plist?raw=true</string>
	<key>Website</key>
	<string>https://github.com/mshick/hacker-news-stylized</string>
</dict>
</plist>
